body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Serif 4', serif;
}


ul {
    margin: 0;
    padding: 0;

}
li::first-letter{
    text-transform: capitalize;

}
li {
    list-style: none;
   
}
.weather-app-wrapper{
    max-width: 600px;
        margin: 30px auto;
}

.weather-app {
    padding: 20px;
    border: 1px solid #8F0097;
    border-radius: 12px;
}

 .weather-temperature strong{
    color:black;
    font-size: 36px;
}
.weather-temperature.units{
    position: relative;
    font-size: 80px;
}
.active{
text-decoration-line:none;
color: black;
}

.active:hover {
text-decoration-line: none;

}
.left{
    text-decoration-line: none;
}
.left:hover {
    text-decoration-line: none;
   

}
.btn {
    background-color: #8F0097;
    border-color:#8F0097;
    

}
.btn:hover {
    background-color: white;
    color: #8F0097;
    border-color: #8F0097 ;
}

