body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Serif 4', serif;
}
.weather-app{
max-width: 600px;
margin: 30px auto;
padding: 20px;
border: 1px solid #8F0097;
border-radius: 18px;

}
ul {
    margin: 0;
    padding: 0;

}
li {
    list-style: none;
}